<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.dal.Board">
	<!-- 전체 글 목록 -->
	<select id="boardList" resultType="BoardDTO">
		SELECT *
		FROM board
		ORDER BY bno DESC
	</select>

	<!-- 조회수 1 증가시키는 SQL -->
	<update id="readCnt" parameterType="java.lang.Integer">
		UPDATE board
		SET
		bcnt
		= bcnt +1
		WHERE bno = #{bno}
	</update>
	<!-- 상세 글 보기 -->
	<select id="detail" parameterType="java.lang.Integer" resultType="BoardDTO">
		SELECT *
		FROM board
		WHERE bno = #{bno}
	</select>
	
</mapper>