<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.dal.Board">
	<!-- 전체 글 목록 -->
	<select id="boardList" resultType="BoardDTO">
		SELECT *
		FROM board
		WHERE NOT bsort = 0
		ORDER BY bno DESC
	</select>

	<!-- 조회수 1 증가시키는 SQL -->
	<update id="readCnt" parameterType="java.lang.Integer">
		UPDATE board
		SET
		bcnt
		= bcnt +1
		WHERE bno = #{bno}
	</update>
	<!-- 상세 글 보기 -->
	<select id="detail" parameterType="java.lang.Integer" resultType="BoardDTO">
	SELECT* FROM board 
	AS b, member AS m 
	WHERE b.bno = #{bno} AND m.mno = b.mno 		
	</select>
	<!-- mname으로 mno찾기 
	<select id="findmno" parameterType="String" resultType="java.lang.Integer">
		SELECT mno FROM member WHERE mname= #{mname}
	</select>-->
	
	<!-- 글 쓰기 -->
	<insert id="register" parameterType="BoardDTO" >
		INSERT INTO board(mno, bdate, btitle, bcon, bfile1, bfile2, bcnt, bsort, betc, mid)
		VALUES(#{mno}, curdate(), #{btitle}, #{bcon}, #{bfile1}, #{bfile2}, 0, 1, #{betc} , #{mid})
	</insert>
	
	<!-- 글 수정 -->
	<update id="update" parameterType="BoardDTO">
		UPDATE board
		SET mno=#{mno}, bdate=curdate(), btitle=#{btitle}, bcon=#{bcon}, bfile1=#{bfile1}, bfile2=#{bfile2}, bsort=1, betc=#{betc}
		WHERE bno = #{bno}
	</update>
	
	<!-- 글 삭제 -->
	<update id="delete" parameterType="java.lang.Integer">
		UPDATE board 
		SET bsort = 0
		WHERE bno = #{bno}
	</update>
	
</mapper>