<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.korogom.member">
	<!-- 회원가입 -->
	<insert id="mregister" parameterType="MemberDAO" >
		INSERT INTO member(mid,mpass,mnick,mname,mmail,mphone,mbirth,mdel,mdate,mclass)
		VALUES(#{mid},#{mpass},#{mnick},#{mname},#{mmail},#{mphone},#{mbirth},#{mdel},curdate(),#{mclass})		
	</insert>
	<!-- 아이디 중복 검사 -->
	<select id="midCheck" parameterType="MemberDAO" resultType="java.lang.Integer" >
		SELECT COUNT(*) 
		FROM member
		WHERE mid = #{mid}
	</select>
	<!-- 별명 중복 검사 -->
	<select id="mnickCheck" parameterType="MemberDAO" resultType="java.lang.Integer" >
		SELECT COUNT(*) 
		FROM member 
		WHERE mnick = #{mnick}		
	</select>
	
	<!-- 회원 인증키 (난수생성)  -->
	<update id="GetKey" parameterType="java.util.Map">
		UPDATE member 
		SET mkey = #{param2}
		WHERE mid = #{mid}
	</update>
	
	<!-- 회원 인증키 (난수) Y로 변경  -->
	<update id="alter_mKey" parameterType="java.util.Map">
		UPDATE member 
		SET mkey = 'Y'
		WHERE mid = #{mid}
		AND mkey = #{param2}
	</update>
	
	<!-- 로그인 -->
	<select id="login" parameterType="java.util.Map" resultType="MemberDAO">
		SELECT mno, mid, mnick, mclass
		FROM member 
		WHERE mid= #{mid} 
		AND mpass = #{mpass}
	</select>
	
	<!-- 아이디 찾기 -->
	<select id="find_userid" parameterType="java.util.Map" resultType="java.lang.String">
		SELECT mid
		FROM member 
		WHERE mname = #{mname} 
		AND mmail = #{mmail}
	</select>
	
	<!-- 회원정보 페이지 -->
	<select id="memberPage" resultType="MemberDAO">
		SELECT mno, mid, mnick, mname, mmail, mphone, mbirth, mclass
		FROM member
		WHERE NOT mclass = 0
		ORDER BY mno DESC
	</select>
	
	<!-- 개인정보 페이지 -->
	<select id="myPage" parameterType="java.lang.Integer" resultType="MemberDAO">
		SELECT mno, mid, mnick, mname, mmail, mphone, mbirth, mclass
		FROM member
		WHERE NOT mclass = 0 
		AND mno = #{mno}
	</select>
	
	<!-- 회원정보 수정 -->
	<update id="memberUpdate" parameterType="MemberDAO">
		UPDATE member 
		SET mpass= #{mpass}, mname= #{mname}, mmail= #{mmail}, mphone= #{mphone}, mbirth= #{mbirth}, mdel= #{mdel}
		WHERE mno = #{mno}
	</update>
	
	<!-- 회원정보 삭제 -->
	<update id="memberDelete" parameterType="java.lang.Integer">
		UPDATE member 
		SET mclass= 0
		WHERE mno = #{mno}
	</update>
	
	
	<!-- 펫등록  -->
	<insert id="pregister" parameterType="PetDAO">
			INSERT INTO pet(mno, pdiv, pname, pbirth, pnum, pdel, petc) 
			VALUES(#{mno },#{pdiv},#{pname},#{pbirth},#{pnum},#{pdel},#{petc})	
	</insert>
	<!-- 펫정보 페이지 -->
	<select id="petInfo" resultType="PetDAO">
		SELECT pno, mno, pdiv, pname, pbirth, pnum, pdel, petc
		FROM pet
		WHERE NOT pdel = 5
		ORDER BY mno DESC
	</select>
		<!-- 펫 정보 페이지 -->
	<select id="petPage" parameterType="java.lang.Integer" resultType="MemberDAO">
		SELECT pno, mno, pdiv, pname, pbirth, pnum, pdel, petc
		FROM pet
		WHERE NOT mclass = 5 
		AND pno = #{pno}
	</select>

	
</mapper>