<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.MemberMapper">
	<insert id="mregister" parameterType="MemberDAO" >
		INSERT INTO member(mid,mnick,mpass,mmail,mphone,mbirth,mdel,mcnt,mdate,mpet,mclass)
		VALUES(#{mid},#{mnick},#{mpass},#{mmail},#{mphone},#{mbirth},#{mdel},#{mcnt},curdate(),0,1)		
	</insert>

</mapper>