<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.korogom.PhotoFileMapper">
<!-- 추가 -->
<insert id="insertPic">
	INSERT INTO profile_photo (uuid, uploadPath, fileName, fileType, pno)
	VALUES(#{uuid}, #{uploadPath}, #{fileName}, #{fileType}, #{pno})
</insert>

		<!-- 펫 사진 삭제  -->
	<delete id="deletePic" parameterType="PhotoFileDAO">
			DELETE FROM profile_photo
			WHERE uuid = #{uuid }
	</delete>

<!-- 펫 사진 보기  -->
	<select id="findByPno" resultType="PhotoFileDAO">
			SELECT uuid,uploadPath,fileName,fileType,pno FROM profile_photo WHERE pno = #{pno} order by photoNo desc limit 1;
	</select>
</mapper>