<?xml version="1.0" encoding="UTF-8"?>
 
<!-- mybatis-config.xml : 마이바티스 설정 파일로 사용하겠다. 라고 선언 문을 아래와 같이 작성, 외우는거 아님 -->
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<typeAliases>
 	<typeAlias alias="MemberDAO" type="kr.co.korogom.domain.MemberDAO"></typeAlias>
 	</typeAliases>
</configuration>