<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.korogom.mapper.ReservationMapper">
	<select id="reservation_list" resultType="kr.co.korogom.domain.ReservationDAO">
		select * from k_reservation
	</select>
	<insert id="reservation_register">
		insert into k_reservation(roomno,istart,iend,icnt,ipet,ifood,iadd,isend,iplus,mno,pno,ietc)
		value(#{roomno},#{istart},#{iend},#{icnt},#{ipet},#{ifood},#{iadd},#{isend},#{iplus},#{mno},#{pno},#{ietc})
	</insert>
	<update id="ibool_update">
		update k_reservation set ibool = 1 where ino = #{ino}
	</update>
	<delete id="delete">
		delete from k_reservation where ino = #{ino}
	</delete>
	<select id="find_mno" resultType="int">
		select mno from k_member where mnick = #{mnick} 
	</select>
	<select id="resv_list" resultType="kr.co.korogom.domain.ReservationDAO">
		select * from k_reservation where mno = #{mno}
	</select>
</mapper>