<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.korogom.mapper.ReservationMapper">
	<select id="reservation_list" resultType="kr.co.korogom.domain.ReservationDAO">
		select * from K_reservation
	</select>
	<insert id="reservation_register">
		insert into K_reservation(roomno,istart,iend,icnt,ipet,ifood,iadd,isend,iplus,mno,pno,ietc)
		value(#{roomno},#{istart},#{iend},#{icnt},#{ipet},#{ifood},#{iadd},#{isend},#{iplus},#{mno},#{pno},#{ietc})
	</insert>
</mapper>